<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/image/favicon/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300.. 800&display=swap" rel="stylesheet">
    <title>Delhi Public School Durgapur | CBSE School in Burdwan District</title>
</head>
<body>
    
    <%- include('./partials/header.ejs') %>

    <main>

        <%- include('./partials/banner.ejs') %>
        <%- include('./partials/personaltour.ejs') %>
        <%- include('./partials/campusimage.ejs') %>
        <%- include('./partials/welcomesection.ejs') %> 
        <%- include('./partials/newsandevent.ejs') %>
        <%- include('./partials/campusfacility.ejs') %>
        <%- include('./partials/pgnwi.ejs') %>
        <%- include('./partials/latesthappenings.ejs') %>

    </main>
    
    <script src="/js/index.js"></script>

</body>
</html>